[Unit]
Description=Bitbid Docker Container
Documentation=https://github.com/imnotsatoshi/docker-bitbid
Requires=docker.service
After=docker.service

[Service]
RestartSec=10
Restart=always

# Modify IP6_PREFIX to match network config
Environment="NAME=bitbid"
Environment="DATA_VOL=bitbid-data"
Environment="IMG=imnotsatoshi/bitbid:dev"
Environment="PORT=9801:9801/tcp"

# To override environment variables, use local configuration directory:
# /etc/systemd/system/docker-bitbid.service/local.conf
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

# Clean-up bad state if still hanging around
ExecStartPre=-/usr/bin/docker rm -f $NAME

# Attempt to pull new image for security updates
ExecStartPre=-/usr/bin/docker pull $IMG

# Main process
ExecStart=/usr/bin/docker run --rm -v ${DATA_VOL}:/bitbi --name ${NAME} -p ${PORT} ${IMG} btb_oneshot $ARGS

[Install]
WantedBy=multi-user.target
